.toLeft{float: left;}
.clear{clear:both;}

#coordinates {margin: 0 auto;}
#coordinates .caption {text-align: right; padding-right: 0.5em;}
#buttons{width: 900px; margin: 0 auto;}
#buttons>div{width: 50%;}
.quality-block{margin-top: 0.5em;}
.quality-block select{display: inline; width: 16em;}
#header{text-align: center;}
#footer{text-align: center;}
